// main: ../main.scss
/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
.call-to-action {
  padding: 80px 0;
  position: relative;
  clip-path: inset(0);

  .container {
    position: relative;
    z-index: 3;
  }

  h3 {
    color: var(--default-color);
    font-size: 28px;
    font-weight: 700;
  }

  p {
    color: var(--default-color);
  }

  .cta-btn {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    background: var(--accent-color);
    color: var(--contrast-color);

    &:hover {
      background: color-mix(in srgb, var(--accent-color) 90%, white 15%);
    }
  }
}