// main: ../main.scss
/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services {
  .service-item {
    background-color: var(--surface-color);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    padding: 60px 30px 60px 70px;
    transition: all ease-in-out 0.3s;
    border-radius: 18px;
    height: 100%;
    position: relative;
    overflow: hidden;

    .icon {
      position: absolute;
      left: -20px;
      top: calc(50% - 30px);

      i {
        font-size: 64px;
        line-height: 1;
        transition: 0.5s;
      }
    }

    h3 {
      font-weight: 700;
      margin: 10px 0 15px 0;
      font-size: 22px;
      transition: ease-in-out 0.3s;
    }

    p {
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
    }

    @media (min-width: 1365px) {
      &:hover {
        transform: translateY(-10px);

        h3 {
          color: var(--accent-color);
        }
      }
    }
  }
}